body{
    text-align: center;
}
h3{
    font-size:50px ;
}
#choices button{
    min-width: 150px;
    height: 150px;
    font-size: 7.5rem;
    background-color: lightblue;
    border-radius: 150px;
    cursor: pointer;
    transition:background-color 0.5s ease;
}
#choices button:hover{
    background-color: aqua;
}
#dis1,#dis2{
    font-size: 2.5rem;
}
#dis3{
    font-size: 5rem;
}
.greenText,#playerscoredis{
    color: rgb(10, 217, 68);
}
.redText,#computerscoredis{
    color: red;
}